<!-- Generated template for the SingleFileComponent component -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SingleFile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>      
  <div class="card-deck">
      <div class="row">     
          <div class="col-sm-4" *ngFor="let media of mediaArray">
              <img class="card-img-top" [src]="mediaService.mediaUrl + media.thumbnail">
              <div class="card-body">
                  <h4 class="card-title">Title: {{media.title}}</h4>
                  <p class="card-text">Description: {{media.description}}</p>
                  
              </div>                
          </div>                     
      </div>
  </div>     

</ion-content>
